// Button 

.btn{
    background-color: $light-color;
    color: $primary-color;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    letter-spacing: 0.2rem;
    transition: all .5s;

    &:hover{
        background-color: $primary-color;
        color: $light-color;
    }

    &-primary{
        background-color: $primary-color;
        color: $light-color;

        &:hover{
            background-color: $light-color;
            color: $primary-color; 
        }
    }

}


// Badge

.badge{
    border: none;
    padding: .2rem 2.4rem;
    font-size: 1.6rem;
    color: $light-color;
    background-color: $primary-color;
    margin: 5rem;
    letter-spacing: .2rem;

    &-tech{
        background-color: $comment-color;
    }

    &-game{
        background-color: $date-color;
    }
}


// Reviews

.review{
    padding: 0 auto;  //5rem
    font-size: 1.3rem;
    line-height: 1.8;
    margin-left: 10rem;
    border-left: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    transform: skew(-28deg);

    & > * {
        transform: skew(28deg);
    }

    &-tags{
        font-size: 1.5rem;
        color: $light-color;
        text-transform: uppercase;
    }

    &-text{
        margin: 1rem 0;
    }

    &-user{
        display: flex;
        align-items: center;

        img{
            width: 8rem;
            margin-right: 3rem;
            border-radius: 50%;
        }

        &-detail{
            font-family: $primary-font;
            margin-right: 3rem;

            &-name{
                color: $primary-color;
            }

            &-date{
                color: $date-color;
            }
        }

        &-platform{
            :not(:last-child){
                color: $primary-color;
            }

            .fab{
                margin: 0 1rem;
            }
            
        }

        &-rating{
            margin-left: auto;

            .checked{
               color: $primary-color; 
            }
        }
        
    }
}


// Cards

.card{
    // background-color: red;
    height: 50rem;
    perspective: 1000px;
     
    &-inner{
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .card-front, .card-back{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: all 1s;

    }

    .card-front{
        background-color: $primary-color;
    }

    .card-back{
        background-color: $secondary-color;
        transform: rotateY(180deg);
        display: table;

        &-content{
            display: table-cell;
            vertical-align: middle;

            p{
                font-size: 1.8rem;

            }

            a{
                transition: $general-transition;

                &:hover{
                    color: $primary-color;
                }
            }
        }
    }

    &:hover .card-front{
        transform: rotateY(180deg);
    }

    &:hover .card-back{
        transform: none;
    }

}